body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    border: 2px solid #888;
    border-radius: 5px;
    color: black;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.graph-badges-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

#details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 300px;
}

#graph-container {
    flex-shrink: 0;
    width: 800px;
    height: 480px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.badges-popup {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}